# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
xcuserdata/
**/*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode Cloud / CI
ci_scripts/*.log

# macOS
.DS_Store

# Secrets
*.p8
.env.local
